<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}

<!-- <div class="card text-center">
    <div class="card-body">
        <h1></h1>
        <p>English Language</p>
        <a class="btn btn-dark" href="{% url 'polls:index' %}">Go to Exam</a>
    </div>
</div>
<hr>

<div class="card text-center">
    <div class="card-body">
        <h1></h1>
        <p>Mathematics</p>
        <a class="btn btn-dark" href="{% url 'polls:index' %}">Go to Exam</a>
    </div>
</div> -->
<hr>
<div class="card text-center">
    <div class="card-body">
        <h1></h1>
        <p>Current Affairs</p>
        <a class="btn btn-dark" href="{% url 'polls:index' %}">Go to Exam</a>
    </div>
</div>
<hr>
{% endblock content%}